<main class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  <a href="/">Home</a> |
  <a href="/albums">Albums</a> |
  <a href="/blog">Blog</a>
  <%= @inner_content %>
</main>
